body {
    margin: 0 auto;
}

header {
    background-color: #a0db8e;
    text-align: center;
    padding: 5px 0;
}

header h1, header p {
    color: #008000;
}

section {
    background-color: #d6e9c6;
    max-width: 700px;
    margin: 0 auto;
    border: solid;
    border-color: #d6e9c6;
    border-width: 3px;
    margin: 10px auto;
    border-radius: 10px;
}

section h2 {
    text-align: center;
    color: #3c763d;
}

article {
    background-color: #eeeeee;
    text-indent: 15px;
    padding: 10px;
}

article h3, article h4 {
    text-indent: 15px;
}

article img {
    display: block;
    margin: 10px auto;
}

article code {
    display: block;
    background-color: #d3ffce;
}

footer {
    text-align: center;
    padding: 3px;
}

footer p {
    margin: 0 auto;
    font-size: 12px;
}

@media screen and (min-width: 200px) and (max-width: 700px) {
    article img {
        width: 80%;
    }
}
